<!-- Navbar -->
<nav class="navbar navbar-light fixed-top bg-dark">
  <a class="color-white" routerLink="/user/{{uid}}/website/{{wid}}/page">
    <i class="fas fa-chevron-left"></i>
  </a>

  <div class="sw-90-width">
    <a
      class="navbar-brand"
      routerLink="/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget"
    >
      <b class="color-white">Widgets</b>
    </a>
  </div>
  <a
    class="color-white"
    routerLink="/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget/new"
  >
    <i class="fas fa-plus"></i>
  </a>
</nav>
<br /><br />
<!-- Main content -->
<div class="container-fluid">
  <!-- Heading widget -->
  <div *ngFor="let widget of widgets">
    <!-- Icons -->
    <div class="absolute-right">
      <a
        routerLink="/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget/{{widget.id}}"
        class="color-black"
        title="Edit"
      >
        <i class="fas fa-cog"></i>
      </a>
      <a
        routerLink="/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget/{{widget.id}}"
        class="color-black"
      >
        <i class="fas fa-bars"></i>
      </a>
    </div>
    <!-- content -->

    <div [ngSwitch]="widget.widgetType">
      <div *ngSwitchCase="'HEADING'">
        <div [ngSwitch]="widget.size">
          <div *ngSwitchCase="'1'">
            <h1>{{ widget.text }}</h1>
          </div>
          <div *ngSwitchCase="'2'">
            <h2>{{ widget.text }}</h2>
          </div>
          <div *ngSwitchCase="'3'">
            <h3>{{ widget.text }}</h3>
          </div>
          <div *ngSwitchCase="'4'">
            <h4>{{ widget.text }}</h4>
          </div>
          <div *ngSwitchCase="'5'">
            <h5>{{ widget.text }}</h5>
          </div>
          <div *ngSwitchCase="'6'">
            <h6>{{ widget.text }}</h6>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="'IMAGE'">
        <div>
          <img
            [style.height]="500"
            [src]="widget.url"
            [style.width]="widget.width"
          />
        </div>
      </div>
      <br />
      <div *ngSwitchCase="'YOUTUBE'">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe
            [src]="parseYoutubeSrc(widget.url)"
            [style.width]="widget.width"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer -->
<footer class="navbar navbar-dark bg-dark fixed-bottom">
  <!-- Navbar content -->
  <a class="color-white" routerLink="/user/{{uid}}">
    <i class="fas fa-play"></i>
  </a>

  <div class="sw-90-width">
    <a
      class="float-left color-white"
      routerLink="/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget"
    >
      <i class="fas fa-eye"></i>
    </a>
  </div>

  <a class="color-white float-right" routerLink="/user/{{uid}}">
    <i class="fas fa-user"></i>
  </a>
</footer>
